html{
  scroll-behavior: smooth;
}

body {
  font-family: "Belleza", sans-serif;
  margin: 0px;
}

hr {
  border-color: rgb(37, 49, 64);
  border-top-width: 1px;
  border-style: solid;
  width: 500px;
}

form{
  text-align: center;
  justify-content: center;
  align-content: center;
}

/* Navbar section */
.navbar-logo {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0.1rem;
}

.navbar {
  background-color: rgb(37, 49, 64);
  font-family: "Belleza", sans-serif;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
}

.navbar-btn {
  all: unset;
  text-align: center;
  padding: 2rem;
}

.navbar-link {
  all: unset;
  color: #f5f5ef;
}

.navbar-link:hover {
  color: wheat;
  cursor: pointer;
}

/* Carousel section */

.carousel {
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  position: relative;
}
.carousel-img-container {
  display: flex;
  width: auto;
  transform: translateX(0);
  transition: transform 0.25s;
}

.carousel-img {
  height: 600px;
  width: auto;
}

.carousel-btn {
  background: transparent;
  color: #f5f5ef;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 4rem;
  font-weight: bold;
  height: 3rem;
  opacity: 0.5;
  position: sticky;
  transition: opacity 0.25s;
  width: 3rem;
  z-index: 1;
}

.carousel-btn:hover {
  opacity: 0.75;
}

.prev {
  left: 230px;
  top: 280px;
}

.nxt {
  right: 230px;
  top: 280px;
}

/* Services section */

.services-header {
  text-align: center;
  font-size: 2rem;
}

.services-card-div {
  justify-content: center;
  align-content: center;
  text-align: center;
}

.services-card {
  background-color: #f5f5ef;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-radius: 5%;
  width: fit-content;
  padding: 10px;
  width: 200px;
  height: 250px;
  margin: 40px;
  display: inline-block;
  transition: transform 0.25s;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.services-card:hover {
  transform: scale(1.05);
}

.services-card-image {
  padding: 20px;
  margin-top: 30px;
}

.services-card-text {
  font-size: 2rem;
}

/* Packages section */

#packages-section{
  padding: 20px;
  background-color: #f5f5ef;
}

.packages-header {
  text-align: center;
}

.packages-sub {
  font-size: 1.5rem;
}

.packages-card-section {
  justify-content: center;
  align-content: center;
  text-align: center;
}
.packages-card {
  background-color: white;
  text-align: center;
  border-radius: 10px;
  padding-top: 0px;
  width: 250px;
  margin: 40px;
  display: inline-block;
  transition: transform 0.25s;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.packages-card:hover {
  transform: scale(1.05);
}

.packages-card-header {
  margin-top: 0px;
  padding-top: 1px;
  padding-bottom: 3px;
  background-color: rgb(37, 49, 64);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.pop {
  background-color: rgb(0, 196, 33);
}

.header-title {
  color: #f5f5ef;
  padding: 5px;
}
.header-sub {
  color: #f5f5ef;
  padding: 4px;
}

.packages-card-body {
  padding: 5px;
  padding-bottom: 20px;
}

.enq-btn {
  all: unset;
  background-color: rgb(37, 49, 64);
  color: #f5f5ef;
  border-radius: 5%;
  padding: 10px;
  font-size: 1.2rem;
}
.enq-btn:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.enq-btn-pop {
  all: unset;
  background-color: rgb(0, 196, 33);
  color: #f5f5ef;
  border-radius: 5%;
  padding: 10px;
  font-size: 1.2rem;
}

.enq-btn-pop:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.packages-item {
  padding: 10px;
  font-size: 1.2rem;
}

/* Testimonial section */

.testi-div {
  text-align: center;
  justify-content: center;
  align-content: center;
}

.testi-header {
  font-size: 2rem;
}

.testi-card {
  background-color: #f5f5ef;
  text-align: center;
  width: 250px;
  margin: 40px;
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  transition: transform 0.25s;
}

.testi-card:hover{
  transform: scale(1.02);
}

.testi-comma {
  display: flex;
  position: relative;
  left: 2px;
  top: 2px;
}

.testi-img {
  border: 2px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.testi-text {
  font-size: 1.1rem;
}

/* contact us section  */

.contact-form{
  background-color: #f5f5ef;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.form-input{
  all: unset;
  display: block;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  height: 30px;
  width: 300px;
  padding: 3px;

}
.msg{
  height: 90px;
}

.form-submit{
  all: unset;
  background-color: rgb(37, 49, 64);
  color: #f5f5ef;
  border-radius: 5%;
  padding: 10px;
  font-size: 1rem;
}

.form-submit:hover{
  cursor: pointer;
  transform: scale(1.02);
}

/* footer section  */
.footer{
  background-color: rgb(37, 49, 64);
  text-align: center;
  padding: 20px;
}

.footer-text{
  color: #f5f5ef;
}
